html
{
    background-color: rgb(200, 200, 200);
}

h1 
{
    text-align: center;
}
#cellContainer
{
    display:flex;
    width:500px;
    height:500px;
    flex-wrap: wrap;
    background-color: white;




}

.grid-element
{
    box-sizing: border-box;
}

.mainContainer
{
    display:flex;
    max-width: 2000px;
    justify-content: center;

}

.controlPanel
{
    display:flex;
    flex-direction: column;
    border: 2px solid red;
}